.color-mode-btn{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-mode-btn-lg{
    padding: 0.75rem !important;
}

.color-mode-btn-sm{
    padding: 0.4rem !important;
}