body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content{
  flex-grow: 1;
}

#profile-dropdown::after{
  display:none;
}

.feed-palette-row{
  width: 100%;
  height: 2rem;
}

.feed-palette-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 0.5rem; */
  padding-right: 0.5rem;
}

.feed-palette-likes{
  display: flex;
  flex-direction: row;
  align-items: center;
}