#palette-card {
	margin: auto;
	overflow: hidden;
	max-width: $palette-card-max-width;
}

#palette-colors {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
}

#palette-colors>* {
	flex-grow: 1;
}

#palette-bar-1, #palette-bar-top {
	max-width: $palette-card-max-width;
	margin: auto;
}

#palette-bar-top {
	margin-bottom: 0.65rem;
}

#palette-bar-1{
	padding-top: 0.5rem;
}

#palette-bar-1>.col, #palette-bar-top>.col {
	padding: 0;
}

.palette-card-color {
	/* height: 5rem; */
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: end;
}

.palette-card-color:hover>.palette-code {
	display: block;
}

.palette-elapsed-time {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	padding-right: 0.25rem !important;
}

.palette-like-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.palette-like-cnt {
	font-size: 22px;
	padding-left: 0.35rem;
	line-height: 0;
	vertical-align: middle;
}

.palette-avatar{
	width: 32px;
	height: 32px;
	border-radius: 100%;
	margin-right: 0.5rem;
}

.palette-user-name{
	font-size: 20px;
	text-decoration: none;
	text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow-x: hidden;
}

.palette-user{
	display: flex;
    flex-direction: row;
    align-items: center;
	text-decoration: none;
	color: inherit;
	overflow: hidden;
}